h1{
    background-color: aquamarine;
    color: blue;
    text-align: center;
    font-family: 'Kalnia', serif;
    font-size: 50px;
    font-weight: 500;

}
p{
    background-color: lawngreen;
    color: blue;
    text-align: center;
    font-family: 'Kalnia', serif;
    

}