*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div{
    height: 400px;
    width: 500px;
    border: 2px solid goldenrod;
    background-color: blanchedalmond;
    overflow: hidden;
    overflow: visible;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y:hidden ;
    overflow: auto;
    overflow-x: scroll;
}